:focus {
    -webkit-box-shadow: 0px 0px 20px $text-color;
            box-shadow: 0px 0px 20px $text-color;
}

/**
 * Site header
 */

.site-header {
    min-height: $spacing-unit * 1.865;
    background: -webkit-gradient(linear, left top, left bottom, from(transparentize($text-color, 0.7)), to(transparentize($text-color, 1)));
    background: -webkit-linear-gradient(top, transparentize($text-color, 0.7) 0%, transparentize($text-color, 1) 100%);
    background: -o-linear-gradient(top, transparentize($text-color, 0.7) 0%, transparentize($text-color, 1) 100%);
    background: linear-gradient(to bottom, transparentize($text-color, 0.7) 0%, transparentize($text-color, 1) 100%);
    text-shadow: $shadow-text; // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: 999;
    width: 100%;
}

.site-title {
	display: inline-block;
    span {
        position: relative;
        bottom: -3px;
    }
    img {
        display: inline-block;
        height: 30px;
        /* margin: auto; */
        padding: 0.3em 1em 1em;
    }
    &,
    &:visited {
        color: $brand-color-dark;
    }
}

.site-nav {
    z-index: 9999;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
    .nav-trigger {
        display: none;
    }
    .page-link {
        color: $side-color-light;
        text-decoration: none;
        line-height: $base-line-height;
        font-style: normal;
        border-bottom: 2px solid transparent;
        transition: $transition;
        &:hover {
            color: $side-color;
            border-bottom: 2px solid $side-color;
        }
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    .active {
        color: $brand-color;
        border-bottom: 2px solid $brand-color;
    }
    @include media-query($on-palm) {
        position: fixed;
        top: 9px;
        right: $spacing-unit / 2; // background-color: $background-color;
        // box-shadow: 4px 4px 10px -8px $brand-color-dark;
        label[for="nav-trigger"] {
            display: block;
            float: right;
            width: 36px;
            height: 36px;
            z-index: 2;
            cursor: pointer;
        }
        .bars {
            position: relative;
            display: block;
            width: 35px;
            height: 5px;
            margin: 6px 0;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            background-color: $side-color-light;
            &:before,
            &:after {
                position: absolute;
                display: block;
                width: 35px;
                height: 5px;
                margin: 6px 0;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
                background-color: $side-color-light;
                content: "";
            }
            &:before {
                top: 7px;
            }

            &:after {
                top: 19px;
            }
        }
        #nav-trigger:checked+label[for="nav-trigger"] .bars {
            -webkit-transform: rotate(45deg) translate(9px, 6px);
            -ms-transform: rotate(45deg) translate(9px, 6px);
                transform: rotate(45deg) translate(9px, 6px);
        }
        #nav-trigger:checked+label[for="nav-trigger"] .bars:before {
            opacity: 0;
            -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                    transform: translateY(-10px);
        }
        #nav-trigger:checked+label[for="nav-trigger"] .bars:after {
            -webkit-transform: rotate(-95deg) translate(25px, 2px);
            -ms-transform: rotate(-95deg) translate(25px, 2px);
                transform: rotate(-95deg) translate(25px, 2px);
        }
        input~.trigger {
            clear: both;
            display: none;
            margin: 0;
            opacity: 0;
            -webkit-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
        }
        input:checked~.trigger {
            opacity: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: column wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-flow: column wrap;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.2em;
            padding-bottom: 5px;
            position: fixed;
            left: 0;
            top: $spacing-unit * 1.865;
            -webkit-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
            background-color: transparentize($text-color, 0.5);
        }
        .page-link {
            display: block;
            padding: 25px 10px;
            &:not(:last-child) {
                margin: 0;
            }
        }
    }
}


/**
 * Site footer
 */

.site-footer {
    // border-top: 1px solid $side-color-light;
    overflow-y: hidden;
    color: mix($text-color, $side-color-light, 60%);
    background-image: $footer-img;
    padding: $spacing-unit 0;
    font-size: $small-font-size;
    background-size: cover;
    background-repeat-x: repeat;
}

.contact-list,
.flat-list {
    list-style: none;
    margin-left: 0;
}


/**
 * Page content
 */

.page-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: $spacing-unit*2 0;
}

.page-heading {
    font-size: 1.25em;
}

.post-list {
    margin-left: 0;
    list-style: none;
    >li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: darken($side-color, 10);
    font-size: 0.7em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.post-link {
    display: block;
    font-size: 1.5em;
}


/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
    border-radius: $border-radius;
    svg {
        fill: $brand-color;
    }
}

.post-content-bg {
    // background: lighten($side-color-light, 3);
    padding: $spacing-unit;
}

.spaceY {
    margin: $spacing-unit;
}

.spacing-top {
    margin: $spacing-unit auto;
}

// 
.photoGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    @include media-query($on-laptop) {
        -ms-flex-flow: column wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-flow: column wrap;
    }

    &>li,
    &>div {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        min-width: 18vw;

        @include media-query($on-laptop) {
            min-width: 100%;
        }

        padding: 0;
        margin: 4px;
        opacity: 0;
        -webkit-animation: fadeIn 0.8s ease-out 0s 1 forwards;
        animation: fadeIn 0.8s ease-out 0s 1 forwards;

        @for $i from 1 to 40 {
            &:nth-child(#{$i}) {
                -webkit-animation-delay: $i * 0.25s;
                animation-delay: $i * 0.25s;
            }
        }
        &:nth-child(4n+1) {
            width: $min-width*2;
        }
        &:nth-child(4n+2) {
            width: $min-width*1.5;
        }
        &:nth-child(4n+3) {
            width: $min-width*1.1;
        }
        &:nth-child(4n+4) {
            width: $min-width*1.2;
        }
    }
}

.hero {
    color: $side-color-light; // background-color: $brand-color;
    text-shadow: 1px 1px 10px $side-color-light, 2px 2px 10px $side-color;
    min-height: 70vh;
    font-size: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: bottom right;
}

.shiv {
    -webkit-box-shadow: inset 0 0 0 9000px transparentize($text-color, 0.4);
    box-shadow: inset 0 0 0 9000px transparentize($text-color, 0.4);
}

.darkBG {
    background-color: transparentize($text-color, 0.7);
    color: $side-color-light;
    padding: $spacing-unit;
    svg {
        fill: $side-color-light;
    }
    fieldset,
    input[type=text],
    input[type=email],
    textarea {
        -webkit-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        border: 1px solid transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    textarea {
        min-height: 5em;
    }
    input[type=text],
    input[type=email],
    textarea {
        background-color: transparentize($text-color, 0.8);
        border-bottom: 1px solid $side-color-light;
        &::-webkit-input-placeholder {
            color: $side-color-light;
        }
        &:-ms-input-placeholder {
            color: $side-color-light;
        }
        &::-ms-input-placeholder {
            color: $side-color-light;
        }
        &::placeholder {
            color: $side-color-light;
        }
    }
    -webkit-animation: fadeIn 1s ease-out 0s 1 forwards;
    animation: fadeIn 1s ease-out 0s 1 forwards;
    @for $i from 1 to 20 {
        &:nth-child(#{$i}) {
            -webkit-animation-delay: $i * 0.5s;
            animation-delay: $i * 0.5s;
        }
    }
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.glow {
    color: $side-color-light;
    text-shadow: 1px 1px 10px $side-color-light, 2px 2px 10px $side-color;
}

.pure-button-primary {
    color: $side-color-light;
    background-color: $brand-color;
}

.centerText {
    text-align: center;
}

.btn,
.btn:visited {
    font-size: $small-font-size;
    color: $side-color-light;
    font-weight: bold;
    background: darken($side-color, 4);
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0.5em 1.2em;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    border: 2px solid currentcolor;
    border-radius: $border-radius;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    &:visited, &:active {
        background: darken($brand-color,3);
    }
    &:hover, &:focus {
        color: darken($side-color, 4);
        background: $side-color-light;
        border: 2px solid darken($side-color, 4);
        text-decoration: none;
    }
}

.wave-mask {
    -webkit-mask-box-image: $mask-img 0 0 0 0 repeat repeat;
}

.hoverable {
    position: relative;
    overflow: hidden;
}

.hoverable span {
    width: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0.3, 0.8, 0.3);
    -o-transition: all 0.3s cubic-bezier(0.2, 0.3, 0.8, 0.3);
    transition: all 0.3s cubic-bezier(0.2, 0.3, 0.8, 0.3);
}

.hoverable::before,
.hoverable::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.2, 0.3, 0.8, 0.3);
    -o-transition: all 0.1s cubic-bezier(0.2, 0.3, 0.8, 0.3);
    transition: all 0.1s cubic-bezier(0.2, 0.3, 0.8, 0.3);
}

.hoverable::before {
    content: attr(data-hover);
    /*transform: translate(-150%, 0);*/
}

.hoverable::after {
    content: attr(data-active);
    /*transform: translate(150%, 0);*/
}

.hoverable:hover span,
.hoverable:active span {
    opacity: 0;
}

.hoverable:hover::before,
.hoverable:active::after {
    opacity: 1;
    /*transform: translate(0, 0);*/
}

.hoverable:active::before {
    opacity: 0;
    /*transform: translate(-150%, 0);*/
}

// CAROUSEL
.swiper-container {
    width: 100%;
    margin: 2em auto;
    background-color: transparentize($text-color, 0.8);
    border-radius: $border-radius;
}


.swiper-container,
.swiper-wrapper,
.swiper-slide {
    height: 70vh;
    margin: auto;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    &>a {
        text-decoration: none;
        height: 70vh;
        width: 100%;
    	padding: 0 $spacing-unit;
    	-webkit-box-sizing: border-box;
    	        box-sizing: border-box;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
}

.swiper-pagination-bullet,
.wa-mediabox-close {
    background: $brand-color;
}

// MODAL
.wa-mediabox-title {
    font-size: 1.2em;
    font-weight: 300;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 26, 43, 0)), to(rgb(15, 26, 43)));
    background: -webkit-linear-gradient(top, rgba(15, 26, 43, 0) 0%, rgb(15, 26, 43) 100%);
    background: -o-linear-gradient(top, rgba(15, 26, 43, 0) 0%, rgb(15, 26, 43) 100%);
    background: linear-gradient(to bottom, rgba(15, 26, 43, 0) 0%, rgb(15, 26, 43) 100%);
    text-shadow: 1px 1px 1px #0f1a2b;
}

.wa-mediabox-frame {
    background-color: transparentize($text-color, 0.8);
}

.wa-mediabox-preloader .wa-mediabox-preloader-spinner {
    border-color: $brand-color;
}

.photos div {
    min-height: 30vh;
    margin-bottom: $spacing-unit;
    & figure a img,
    .contact {
        background-color: transparentize($text-color, 0.8);
        border-radius: $border-radius;
        -webkit-box-shadow: 4px 4px 18px -5px $text-color;
        box-shadow: 4px 4px 18px -5px $text-color;
        -webkit-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        &:hover {
            -webkit-box-shadow: 4px 4px 18px $text-color;
            box-shadow: 4px 4px 18px $text-color;
        }
    }
}

@media (max-width: 400px){
    .g-recaptcha{
        transform: scale(.65);
        transform-origin: left;
    }
}

a.plain {
    display: block;
}

.plain {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    text-decoration: none;
    margin: 4px;
    padding: 1rem 2rem 0.2rem;
    background: transparentize($brand-color-dark, 0.6);
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    border-radius: $border-radius;

    &:hover, &:focus {
        text-decoration: none;
        color: lighten($brand-color, 2);
        background: transparentize($text-color, 0.2);
    }
}

// Home Slider
a.post-cover {
    -webkit-box-shadow: inset 0 0 0 9000px transparentize($text-color, 0.4) !important;
    box-shadow: inset 0 0 0 9000px transparentize($text-color, 0.4) !important;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    &:hover, &:focus {
    color: lighten($side-color, 2);
    }
}

// Portfolio Grid
.post-cover {
    text-decoration: none;
    position: relative;
    background-image: $default-img;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b6ebec;
    overflow: hidden;
    min-height: 40vh;
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
    border-radius: $border-radius;
    &>a {
        padding: 2rem 1rem;
        display: block;
        position: absolute;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: 100%;
        width: 100%;
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        color: lighten($brand-color, 2);
        text-decoration: none;
        -webkit-box-shadow: inset 0 0 0 9000px transparentize($text-color, 0.4);
        box-shadow: inset 0 0 0 9000px transparentize($text-color, 0.4);
        -webkit-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        &:hover, &:focus {
        -webkit-box-shadow: inset 0 0 0 9000px transparentize($text-color, 1);
        box-shadow: inset 0 0 0 9000px transparentize($text-color, 1);
        opacity: 0;
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        }
    }
    &>div {
        color: lighten($brand-color, 2);
        text-decoration: none; // transform: translateY(100%);
    }
}

.listed {
    list-style: none;
    margin-left: 0;
    li {
        display: inline-block;
    }
    li+li:before {
        content: ", ";
        margin-left: -3px;
    }
}

// https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videoWrapper {
    position: relative;
    height: 100%;
    padding-bottom: 56.25% !important;
    /* 16:9 */
    padding-top: 25px !important;
    display: block;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// PAGINATION
.pager {
    list-style: none;
    margin: 30px 0px;

    li a {
        border-radius: $border-radius;
        -webkit-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        color: $side-color-light;
        background: darken($side-color, 3);
        padding: 4px 18px;
        text-decoration: none;
        &:hover, &:focus {
            color: $brand-color-dark;
            background: $brand-color;
        }
    }
    .previous {
        float: left;
    }
    .next {
        float: right;
    }
}

// TABLE
table,
.pure-table,
.pure-table td,
.pure-table th,
tr,
td {
    border: none;
    border: 1px solid transparent;
}

table {
    border-radius: 5px;
    overflow: hidden;
}

.pure-table thead,
.pure-table tr {
    background-color: transparentize($brand-color, 0.4);
}

.pure-table tr:nth-child(even) {
    background-color: transparentize(darken($brand-color,3), 0.4);
}

// table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
//     content: " \25B4\25BE" 
// }

@include media-query($on-laptop) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Behave  like a "row" */
        position: relative;
    }

    .archive-table {
        td:before {
            display: block;
            color: lighten($side-color,3);
            font-family: FontAwesome;
        }
        td:nth-of-type(1):before {
            content: "Title";
        }
        td:nth-of-type(2):before {
            content: "Description";
        }
        td:nth-of-type(3):before {
            content: "\f017 Date";
        }
        td:nth-of-type(4):before {
            content: "\f02c Tags";
        }
    }
}