---
layout: page
permalink: /portfolio/
title: Portfolio
weight: 1
# javascript: 'https://unpkg.com/shufflejs@5'
---

<!-- VIDEO -->
<div class="center glow">
	<h2>Showreel &#x1F914; &#128173;</h2>
</div>
<div class="videoWrapper">
	<iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/mcRhZQHjJHM?autoplay=0&controls=0&showinfo=0&autohide=1"></iframe>
</div>
<div class="spaceY"></div>

<!-- GRID -->
<ul class="post-list photoGrid">
	{% for post in site.categories.portfolio %}
	<li class="post-cover" {% if post.featured-img %} {% if post.featured-img contains 'http' %} style="background-image: url('{{ post.featured-img }}');" {% else %} style="background-image: url('{{ post.featured-img | prepend: '/assets/img/' | relative_url }}');"
	 {% endif %} {% endif %}>
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
			{{ post.content | truncatewords: 4 }}
			<div class="post-meta">
				<span class="fa fa-clock-o"></span><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time> {% if post.tags %}
				<ul class="listed">
					<li><span class="fa fa-tags"></span></li>
					{% for item in post.tags %}
					<li>{{ item }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
<div class="spaceY"></div>