---
layout: page
permalink: /portfolio/
title: Portfolio
---

<ul class="post-list photoGrid">
	{% for post in site.categories.portfolio %}
		<li class="post-cover" {% if post.featured-img %}
		{% if post.featured-img contains 'http' %}
			style="background-image: url('{{ post.featured-img }}');"
			{% else %}
			style="background-image: url('{{ post.featured-img | prepend: '/assets/img/' | relative_url }}');"
		{% endif %}
		{% endif %}>
			<a href="{{ post.url }}">
				<h2>{{ post.title }}</h2>
				{{ post.content | truncatewords: 4 }}
				<div class="post-meta">
					<span class="fa fa-clock-o"></span> {{ post.date | date_to_string }}
					{% if post.tags %}
					<ul class="listed">
						<li><span class="fa fa-tags"></span></li>
						{% for item in post.tags %}
							<li>{{ item }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</a>
		</li>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
meme
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}