---
layout: default
css: wa-mediabox.min.css
javascript: wa-mediabox.min.js
---

<header class="post-header">
  <h1 class="post-title" itemprop="name headline">{{ page.title | escape | capitalize }}</h1>
  <div class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="fa fa-clock-o"></span> {{ page.date | date: date_format }}
    </time>
    
    {% if page.author %}
      <span class="fa fa-user"></span> Written by: {{ page.author }}
    {% endif %}

    {% if page.tags %}
    <span class="fa fa-tags" itemprop="keywords" itemscope="" itemtype="http://schema.org/keywords"></span>
      <ul class="listed">
        {% for item in page.tags %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  <a href="/">Home</a>
  {% for crumb in crumbs offset: 1 %}
    {% if forloop.last %}
    / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
    {% else %}
    / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
    {% endif %}
  {% endfor %}
</header>

{{ content }}

{% include pagination.html %}
